body {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

.bulma_hero__1bjCM.bulma_is-primary__1jh74 {
  background-color: #C2961F !important
}

.styles_sectionIcon__1gjLR {
  background: #C2961F
}
.bulma_tag__xgEBq:not(body).bulma_is-primary__1jh74 {
  background-color: #209cee;
  color: #fff;
}